body {
  font-family: "Yeon Sung", cursive !important;
}

.completed {
  text-decoration: line-through;
}

.form {
  max-width: 70%;
  margin: 30px auto;
}
.form button {
  margin-left: 10px;
}

.full-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.heading {
  text-align: center;
}
